@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

 body {margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.main-section {
  padding: 20px;
 
}
  .image-container {
   height: 500px;
   background-image: url(https://c7.alamy.com/compit/ftxn20/terrazze-di-riso-hoang-lien-national-park-sapa-vietnam-ftxn20.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: scroll;
   width: 100%;
  }
   
 h1 { 
  font-family: 'Prata', serif;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0px;
  }

 h3 {
  font-family: 'Prata', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 0px;
  } 

 a { 
  font-weight: 600;
  font-style: italic;
  }


 .heading-style {
  padding: 22px;
  margin-bottom: -1px;
  margin-top: 56px;
  color: white;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgb(183, 196, 8),
    rgb(6, 165, 45));
   }
   ul{list-style: none;
  padding: 0px;
  margin: 0px;
  }
  .custom-list {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    border-bottom: 1px;
    border-bottom-color:#dfdfdf;
   
  }

  .custom-list a {
    text-decoration: none;
    color:blue;
  }

  .custom-list a:visited {
    color:rgb(183, 196, 8);
  }

  footer {
    background-color: black;
    padding: 16px;
    text-align: center;
   }