@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
}

.topbar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.icon {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  cursor: pointer;
}

.icon ion-icon {
  font-size: 2em;
}

.icon p {
  margin: 0;
}

.icon:not(:first-of-type) {
  height: 16vh;
}

.logo {
  height: 50%;
}

.search-wrapper {
  display: flex;
  height: 50%;
  width: 30%;
}

.search-wrapper input {
  width: 100%;
  padding: 0 1em;
}

.icons-wrapper {
  display: flex;
  align-items: center;
}

.top-icon {
  font-size: 2em;
  padding: 0 0.5em;
}

.mic-icon {
  display: flex;
  align-items: center;
}

.search-btn {
  padding: 0 0.7em;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}
.content {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}
.epicologo {
  height: 100%;
  width: 70%;
}
.epicode-profile {
  padding: 0.5em 0;        
  height: 2.5em;
  width: 2.5em;
 
}
.Autore {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.5em 0;
}
.content p {
  margin: 0;
  display: flex;
  flex-direction: column;

}
.titolo {
  display: flex;
  padding: 10px;
  flex-direction: column;
  font-size: 12px;
}
.titolo2 {
  display: flex;


}
#frame-wrap {
  display: flex;
  flex-direction: column;
 
}